In [10]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score

In [11]:
df=pd.read_csv("Social_Network_ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [12]:
df['Gender'].replace({"Male":0,"Female":1},inplace=True)
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       0   19            19000          0
1  15810944       0   35            20000          0
2  15668575       1   26            43000          0
3  15603246       1   27            57000          0
4  15804002       0   19            76000          0

In [13]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [14]:
x=df[['User ID', 'Gender', 'Age', 'EstimatedSalary']]
y=df[['Purchased']]

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [27]:
model=LogisticRegression()
model.fit(x_train,y_train.values.ravel())

LogisticRegression()

In [17]:
y_pred=model.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [18]:
model.score(x,y)

0.775

In [19]:
cf=confusion_matrix(y_test,y_pred)
cf

array([[60,  3],
       [22, 15]], dtype=int64)

In [20]:
tn,fp,fn,tp=confusion_matrix(y_test,y_pred).ravel()
print(tn,fp,fn,tp)

60 3 22 15

In [21]:
accuracy_score(y_test,y_pred)

0.75

In [22]:
precision_score(y_test,y_pred)

0.8333333333333334

In [23]:
recall_score(y_test,y_pred)

0.40540540540540543

In [24]:
acc=(tp+tn)/(tp+tn+fp+fn)
print(acc)

0.75